<h1>HotProducts</h1>
<div ng-repeat="ProductList in GetHomeProductList.FeaturedProducts">
    <ul>
        <li class="list-group-item">
            ID: {{ProductList.ProductId}}<br />
            ProductName: {{ProductList.ProductName}}<br />
            <a href="#/ProductDeatils/{{ProductList.ProductId}}">
                <img src="http://staging.sirez.com/babyhugzshopping/BhzImages/Products/small/{{ProductList.ProductImage}}" alt="{{ProductList.ProductImage}}" />
            </a>
        </li>
    </ul>
</div>
 